<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kontakt</h2>
                    <h3 class="section-subheading text-muted">Falls Du eine Frage hast, ruf uns an.<br>Wir nehmen auch gerne Bestellungen an.</h3>
                    <h4><a href="mailto:info@hitsville.de">info@hitsville.de</a></h4>
                    <h4><a href="tel:+49211328844">+49 (0) 211 32 88 44</h4>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Name *" id="name" required data-validation-required-message="Bitte gib deinen Name ein.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="E-Mail *" id="email" required data-validation-required-message="Bitte gib deine E-Mail-Adresse ein.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="Telefonnummer *" id="phone" required data-validation-required-message="Bitte gib eine Telefonnummer ein.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Deine Nachricht *" id="message" required data-validation-required-message="Du kannst deine Nachricht hier schreiben."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Senden</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            -->
        </div>
    </section>
