<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Öffnungszeiten</h2>
                    <h3 class="section-subheading text-muted">Independent | Punk / Hardcore Classics | Soul / Funk | Jazz | Rock 'n' Roll | Electronica | Reggae | Oldies</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Öffnungszeiten</h4>
                    <p class="text-muted">Montag bis Freitag, 11:00 bis 19:00 Uhr</p>
                    <p class="text-muted">Samstag, 11:00 bis 18:00 Uhr</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Unsere Standort</h4>
                    <p class="text-muted">Wallstr. 21</p>
                    <p class="text-muted">40213 Düsseldorf Altstadt</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Öffentliche Verkehrsmittel</h4>
                    <p class="text-muted">U-Bahn Haltestelle: Heinrich-Heine-Allee</p>
                    <p class="text-muted"><a href="https://goo.gl/maps/KJFefCWMSrpTueyY7" target="_blank">Google Maps</a></p>
                </div>
            </div>
        </div>
    </section>
